body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    aspect-ratio: 1 / 1 ;
    outline-style: solid;
    outline-width: 5px;
    outline-color: darkgrey;
}
.cell {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    width: 200px;
    aspect-ratio: 1 / 1;
    background-color: white;
}

#controls {
    margin: 20px;
}

button {
    width: 120px;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    border-style: none;
    background-color: grey;
    /* border-style: solid; */
}

button.setGrid {
    color: white;
    background-color: blue;
    border-color: white;
}

button.reset {
    color: blue;
    width: 80px;
    /* border-color: blue; */
    /* background-color: white; */
}