body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    aspect-ratio: 1 / 1 ;
    outline-style: solid;
    outline-width: 5px;
    outline-color: darkgrey;
    margin: 10px;
}

.cell {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color:whitesmoke;
    width: 200px;
    aspect-ratio: 1 / 1;
    background-color: black;
}

#controls {
    margin: 5px;
}

button.setGrid {
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    border-style: none;
    color: white;
    background-color: blue;
    border-color: white;
}